flows.json
[
    {
        "id": "fa81d6501e397b89",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec9241ca5f1a7f5c",
        "type": "mqtt in",
        "z": "fa81d6501e397b89",
        "name": "",
        "topic": "capteur/vibration",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "86a10a53da0ea172",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "111f842f5ba2ee90",
                "06c1842ae274cc48",
                "e824e21c1df7910a"
            ]
        ]
    },
    {
        "id": "edc743834538f286",
        "type": "ui_gauge",
        "z": "fa81d6501e397b89",
        "name": "",
        "group": "e55c86f23dbf27de",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "donut",
        "title": "vibration",
        "label": "m/s",
        "format": "{{value}}",
        "min": "0",
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "f0896c255f2b22fc",
        "type": "ui_chart",
        "z": "fa81d6501e397b89",
        "name": "",
        "group": "314947d38eeb0392",
        "order": 2,
        "width": "7",
        "height": "5",
        "label": "vibration",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "111f842f5ba2ee90",
        "type": "debug",
        "z": "fa81d6501e397b89",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 260,
        "wires": []
    },
    {
        "id": "06c1842ae274cc48",
        "type": "function",
        "z": "fa81d6501e397b89",
        "name": "function 1",
        "func": "// message.payload contient la vibration envoyée par ESP32\nlet vibration = parseFloat(msg.payload); // Convertir en nombre\nmsg.payload = vibration;                 // Pour le gauge\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "f0896c255f2b22fc",
                "edc743834538f286"
            ]
        ]
    },
    {
        "id": "0f5eb9d7987e3854",
        "type": "function",
        "z": "fa81d6501e397b89",
        "name": "function 2",
        "func": "// message.payload contient la vibration envoyée par ESP32\nlet vibration = parseFloat(msg.payload); // Convertir en nombre\nmsg.payload = vibration;                 // Pour le gauge\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 400,
        "wires": [
            [
                "e60d3475c44349e4",
                "ca34b5c58c1f1799"
            ]
        ]
    },
    {
        "id": "e741252bf0555c77",
        "type": "mqtt in",
        "z": "fa81d6501e397b89",
        "name": "",
        "topic": "capteur/temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "86a10a53da0ea172",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "0f5eb9d7987e3854",
                "6d6e5edcd8852640"
            ]
        ]
    },
    {
        "id": "ca34b5c58c1f1799",
        "type": "ui_gauge",
        "z": "fa81d6501e397b89",
        "name": "",
        "group": "e55c86f23dbf27de",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "donut",
        "title": "température",
        "label": "m/s",
        "format": "{{value}}",
        "min": "-50",
        "max": "125",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "e60d3475c44349e4",
        "type": "ui_chart",
        "z": "fa81d6501e397b89",
        "name": "",
        "group": "314947d38eeb0392",
        "order": 1,
        "width": "7",
        "height": "5",
        "label": "température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "6d6e5edcd8852640",
        "type": "debug",
        "z": "fa81d6501e397b89",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 500,
        "wires": []
    },
    {
        "id": "3edbc13f2a27bad7",
        "type": "function",
        "z": "fa81d6501e397b89",
        "name": "function 3",
        "func": "// message.payload contient la vibration envoyée par ESP32\nlet vibration = parseFloat(msg.payload); // Convertir en nombre\nmsg.payload = vibration;                 // Pour le gauge\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 620,
        "wires": [
            [
                "75b3971823dbecaa",
                "a737fe1da5071772"
            ]
        ]
    },
    {
        "id": "959b5f129eb7c0ad",
        "type": "mqtt in",
        "z": "fa81d6501e397b89",
        "name": "",
        "topic": "capteur/courant",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "86a10a53da0ea172",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 660,
        "wires": [
            [
                "3edbc13f2a27bad7",
                "25d934f94fae7ca3"
            ]
        ]
    },
    {
        "id": "75b3971823dbecaa",
        "type": "ui_gauge",
        "z": "fa81d6501e397b89",
        "name": "",
        "group": "e55c86f23dbf27de",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "donut",
        "title": "courant",
        "label": "m/s",
        "format": "{{value}}",
        "min": "0",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 560,
        "wires": []
    },
    {
        "id": "25d934f94fae7ca3",
        "type": "debug",
        "z": "fa81d6501e397b89",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 720,
        "wires": []
    },
    {
        "id": "00b14c53af7577b6",
        "type": "function",
        "z": "fa81d6501e397b89",
        "name": "function 4",
        "func": "// message.payload contient la vibration envoyée par ESP32\nlet vibration = parseFloat(msg.payload); // Convertir en nombre\nmsg.payload = vibration;                 // Pour le gauge\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 860,
        "wires": [
            [
                "99aff4558c8f42ce",
                "9fe22d08f7109862"
            ]
        ]
    },
    {
        "id": "7799dbf8f5ce550f",
        "type": "mqtt in",
        "z": "fa81d6501e397b89",
        "name": "",
        "topic": "capteur/tension",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "86a10a53da0ea172",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 900,
        "wires": [
            [
                "00b14c53af7577b6",
                "52dafd21d49662f8"
            ]
        ]
    },
    {
        "id": "9fe22d08f7109862",
        "type": "ui_gauge",
        "z": "fa81d6501e397b89",
        "name": "",
        "group": "e55c86f23dbf27de",
        "order": 4,
        "width": "4",
        "height": "4",
        "gtype": "donut",
        "title": "tension",
        "label": "m/s",
        "format": "{{value}}",
        "min": "0",
        "max": "3.3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 800,
        "wires": []
    },
    {
        "id": "99aff4558c8f42ce",
        "type": "ui_chart",
        "z": "fa81d6501e397b89",
        "name": "",
        "group": "314947d38eeb0392",
        "order": 3,
        "width": "7",
        "height": "5",
        "label": "tension",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "52dafd21d49662f8",
        "type": "debug",
        "z": "fa81d6501e397b89",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 960,
        "wires": []
    },
    {
        "id": "a737fe1da5071772",
        "type": "ui_chart",
        "z": "fa81d6501e397b89",
        "name": "",
        "group": "314947d38eeb0392",
        "order": 4,
        "width": "7",
        "height": "5",
        "label": "courant",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "e824e21c1df7910a",
        "type": "function",
        "z": "fa81d6501e397b89",
        "name": "function 5",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6043c7128c10faa1",
        "type": "function",
        "z": "fa81d6501e397b89",
        "name": "function 6",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f4f27f68f6d4f6b0",
        "type": "function",
        "z": "fa81d6501e397b89",
        "name": "function 7",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "15ee6ef7f2178786",
        "type": "function",
        "z": "fa81d6501e397b89",
        "name": "function 8",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "86a10a53da0ea172",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e55c86f23dbf27de",
        "type": "ui_group",
        "name": "Valeurs des capteurs",
        "tab": "322d0942af9dc2c1",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "314947d38eeb0392",
        "type": "ui_group",
        "name": "Données en temps réel",
        "tab": "322d0942af9dc2c1",
        "order": 2,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "322d0942af9dc2c1",
        "type": "ui_tab",
        "name": "Système de surveillance des équipements industriels",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "422c88a24526df86",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
